.#{$prefix}-btn {
  padding: spacing(1);
  text-align: left;
  color: #fff;
  border: 0;
  border-radius: spacing(.5);
  box-shadow: 0 0 0;
  cursor: pointer;
  transition: filter .2s ease-in-out, box-shadow .4s ease-in-out;

  @include body-type;

  &:hover {
    filter: brightness(1.05);
    box-shadow: 0 5px 10px rgba($black, .4);
  }

  &:active {
    filter: brightness(.95);
    box-shadow: 0 0 0;
  }

  svg {
    width: 1rem;
    height: 1rem;
    display: block;
    float: right;
    pointer-events: none;

    & > * {
      fill: currentColor;
    }
  }

  &--danger {
    background: $red;
  }

  &--primary {
    background: $green;
  }

  &--secondary {
    background: $dark-gray;
  }
}
